$red-color: #e51b14;
$green-color: #00B200;
$white-color: #ffffff;
$black-color: #000000;

$main-color: #147FC4;
$dark-main-color: #006DBD;
$main-text-color: #222222;

$dark-gray-color: #333333;
$mid-gray-color: #888888;
$light-gray-color: #dddddd;
$very-light-gray-color: #f4f4f4;

$light-color-1: #A3D4F5;
$light-color-2: #C8E5F9;
$light-color-3: #EDF6FD;

$dark-color-1: #116BA6;
$dark-color-2: #0E5381;
$dark-color-3: #0A3B5C;
$dark-color-4: #062437;

$tint-color: #00ABF5;
$shade-color: #0072A3;