@font-face {
    font-family: 'AlegreyaSans';
    src: url('../font/AlegreyaSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../font/AlegreyaSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../font/AlegreyaSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../font/AlegreyaSans-italic.ttf');
    font-weight: normal;
    font-style: italic;
}